
@{
    ViewBag.Title = "Menu do Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="well well-lg" style="width:100%; display: flow-root; margin-top:1%;">
    <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Minhas Últimas Atividades</h2>
    <div style="width: 55%; float:left;">
        <div class="caixa">
            <p style="width:100%;margin-top:0%; text-align:center;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span><b> Últimos Estacionamentos</b></p>
            <div class="dentroCaixa">
                <table>
                    <tr>
                        <th>Estacionamento:</th>
                        <th>Período De:</th>
                        <th>Período Até:</th>
                    </tr>
                    <tr>
                        <td>Grand Park</td>
                        <td>07/08/2019 - 15:00</td>
                        <td>07/08/2019 - 18:00</td>
                    </tr>
                    <tr>
                        <td>Grand Touris</td>
                        <td>08/08/2019 - 15:00</td>
                        <td>08/08/2019 - 18:00</td>
                    </tr>
                    <tr>
                        <td>Grand Mark</td>
                        <td>09/08/2019 - 15:00</td>
                        <td>09/08/2019 - 18:00</td>
                    </tr>
                    <tr>
                        <td>Chateaou Mark</td>
                        <td>19/08/2019 - 15:00</td>
                        <td>19/08/2019 - 18:00</td>
                    </tr>
                </table>
            </div>
            <div>
                <button style="float:right; margin-top: 3%; width:100%;" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ver Histórico</button>
            </div>
        </div>
    </div>

    <div style="width: 44%; float:right;">
        <div class="caixa">
            <p style="width:100%;margin-top:3%;text-align:center;"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <b>Últimas Transações</b></p>
            <div class="dentroCaixa">
                <table>
                    <tr>
                        <th>Valor:</th>
                        <th>Data:</th>
                    </tr>
                    <tr>
                        <td>150,00$</td>
                        <td>07/08/2019</td>
                    </tr>
                    <tr>
                        <td>200,00$</td>
                        <td>08/08/2019</td>
                    </tr>
                    <tr>
                        <td>400,00$</td>
                        <td>09/08/2019</td>
                    </tr>
                    <tr>
                        <td>100,00$</td>
                        <td>19/08/2019</td>
                    </tr>
                </table>
            </div>
            <div>
                <button style="float:right; margin-top: 3%; width:100%;" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Ver Histórico</button>
            </div>
        </div>
    </div>
    <button data-toggle="modal" data-target="#ComprarCredito" style="margin-top: 3%; width:100%;" class="btn btn-success btn-lg">Comprar Créditos <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></button>
</div>

<!-- Modal -->
<div class="modal left fade" id="modalCadastro" tabindex="-1" role="dialog" aria-labelledby="Cadastro">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cadastrar Carro</h4>
            </div>

            <div class="modal-body">
                @{
                    Html.RenderAction("CadastrarCarro", "Cliente");
                }
            </div>

        </div>
    </div>
</div>

<div class="modal right fade" id="ComprarCredito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">Comprar Créditos</h4>
            </div>

            <div class="modal-body">
                <div class="slidecontainer">
                    <div class="slidecontainer">
                        <p>Por favor, deslize para obter o valor desejado:</p>
                        <input type="range" min="1" max="500" value="0" class="slider" id="myRange" style="margin-top: 10%;">
                        <p style="text-align: center;margin-top: 7%;"><b>Valor: </b><span id="demo"></span></p>
                    </div>
                </div>
                <p style="text-align: center;width: 100%;">
                    <button id="comprarCredito" style="margin-top: 3%; width:57%;" class="btn btn-default">
                        Comprar <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                    </button>
                </p>
                <div class="alert alert-warning" role="alert">
                    <ul>
                        <li>
                            Você pode escolher um valor de 0 a 500 reais.
                        </li>
                        <li>
                            Ao Selecionar em Comprar você será redirecionado para o site do PagSeguro.
                        </li>
                        <li>
                            O Crédito será inserido após a confirmação do pagamento.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@Styles.Render("~/Content/menuUsuarios")
@Scripts.Render("~/bundles/menuCliente")
