
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared1/_Layout.cshtml";
}

<div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tabelas</h1>
        <p class="mb-4">Aqui você encontra informações sobre suas as ultimas atividades relacionadas ao seu estacionamento.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Últimos Clientes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Período de</th>
                                <th>Período até</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nome</th>
                                <th>Período de</th>
                                <th>Período até</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>11/01/2019 10:35</td>
                                <td>11/01/2019 11:35</td>
                            </tr>
                            <tr>
                                <td>Angelina</td>
                                <td>11/01/2019 09:35</td>
                                <td>11/01/2019 11:35</td>
                            </tr>
                            <tr>
                                <td>Cambo</td>
                                <td>12/01/2019 19:35</td>
                                <td>13/01/2019 11:35</td>
                            </tr>
                            <tr>
                                <td>Cedric</td>
                                <td>12/01/2019 20:14</td>
                                <td>12/01/2019 21:35</td>
                            </tr>
                            <tr>
                                <td>Samia</td>
                                <td>20/01/2019 10:14</td>
                                <td>20/01/2019 12:00</td>
                            </tr>
                            <tr>
                                <td>Clay</td>
                                <td>22/01/2019 10:14</td>
                                <td>22/01/2019 12:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid">

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Últimos Recebimentos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mês</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Mês</th>
                                <th>Valor</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>Janeiro/2019</td>
                                <td>500,00</td>
                            </tr>
                            <tr>
                                <td>fevereiro/2019</td>
                                <td>500,00</td>
                            </tr>
                            <tr>
                                <td>Março/2019</td>
                                <td>1500,00</td>
                            </tr>
                            <tr>
                                <td>Abril/2019</td>
                                <td>520,00</td>
                            </tr>
                            <tr>
                                <td>Maio/2019</td>
                                <td>1520,00</td>
                            </tr>
                            <tr>
                                <td>Junho/2019</td>
                                <td>785,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
<!-- /.container-fluid -->