
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jamira</title>

    <link href="~/Content/LandingPage/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/LandingPage/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/LandingPage/agency.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Jamira</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#quemsomos">Quem Somos</a>
                    </li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#nossahistoria">Nossa História</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Estacionamentos</a>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Fale Conosco</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Autenticacao/Login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bem Vindo ao JAMIRA!</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/Autenticacao/Login">Já sou Cliente</a>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#quemsomos">Conheça</a>
            </div>
        </div>
    </header>

    <!-- Services -->
    <section class="page-section" id="quemsomos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Quem Somos</h2>
                    <div align="justify"><h3 class="section-subheading text-muted">Somos uma Startup voltada ao ramo de estacionamentos.  A missão do Jamira é fornecer soluções para motoristas e estacionamentos. Nossos principais clientes são os usuários que dependem de seus veículos para locomoção. Fundado em 2018 pelos sócios Bruno M. Bertoncello, Eduardo Thieves e Ericksson S. Drozda, em Curitiba, que juntos procuram uma alteração no atual modelo de funcionamento de estacionamentos.</h3></div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aplicativo <br> Móvel</h4>
                    <div align="justify">
                        <p class="text-muted"><!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.--></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Computador <br> Páginas Web</h4>
                    <div align="justify">
                        <p class="text-muted"><!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.--></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fas fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-desktop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Administração do Estacionamento</h4>
                    <div align="justify">
                        <p class="text-muted"><!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Nossa Historia -->
    <section class="bg-light page-section" id="nossahistoria">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Nossa História</h2>
                    <h3 class="section-subheading text-muted">Veja abaixo nossa linha do tempo (até agora...)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Imagens/LandingPage/21.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fevereiro 2018</h4>
                                    <h4 class="subheading">Surge a ideia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><!-- Texto aqui --></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Imagens/LandingPage/22.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Agosto 2018</h4>
                                    <h4 class="subheading">Equipe foi Formulada</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><!-- Texto aqui --></p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Imagens/LandingPage/23.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Fevereiro 2019</h4>
                                    <h4 class="subheading">Desenvolvimento iniciado</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><!-- Texto aqui --></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="~/Imagens/LandingPage/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Outubro 2019</h4>
                                    <h4 class="subheading">Fim do MVP</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><!-- Texto aqui --></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Faça parte
                                    <br>da nossa
                                    <br>História!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    <!-- Estacionamento -->
    <section class="page-section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Estacionamentos</h2>
                    <h3 class="section-subheading text-muted">Veja alguns de nossos estacionamentos conveniados.</h3>
                </div>
            </div>

            <div style="overflow:hidden;width: 1200px;position: relative;">
                <iframe width="1100" height="440" src="https://maps.google.com/maps?width=1200&amp;height=440&amp;hl=en&amp;q=Curitiba+(T%C3%ADtulo)&amp;ie=UTF8&amp;t=k&amp;z=11&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/it/">embedgooglemaps IT</a> & <a href="https://rechargevodafone.co.uk">rechargevodafone UK</a></small></div>
                <style>
                    #gmap_canvas img {
                        max-width: none !important;
                        background: none !important
                    }
                </style>
            </div><br />
        </div>
    </section>

    <!-- Contact -->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Fale Conosco</h2>
                    <h3 class="section-subheading text-muted">Digite abaixo sua dúvida, reclamação, elogio, etc.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="Nome" required="required" data-validation-required-message="Por favor insira seu nome.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Por favor insira seu email.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="phone" type="tel" placeholder="Telefone" required="required" data-validation-required-message="Por favor insira seu telefone.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" placeholder="Digite sua mensagem aqui " required="required" data-validation-required-message="Campo em Branco. Por favor digite uma mensagem."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Enviar Mensagem</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <span class="copyright">FEL_JAMIRA &copy; Todos os direitos reservados.2019</span>
        </div>
    </footer>

    <script src="~/Scripts/LandingPage/jquery.min.js"></script>
    <script src="~/Scripts/LandingPage/jquery.easing.min.js"></script>
    <script src="~/Scripts/LandingPage/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/LandingPage/contact_me.js"></script>
    <script src="~/Scripts/LandingPage/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/LandingPage/agency.min.js"></script>
</body>
</html>
